<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>c:\CDPDeploy\Staging\CDPTrackerSite.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>CDPTracker</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CDPTrackEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=TDG-VM-INTHMO\CDPTRACKERDB;Initial Catalog=CDPTrack;User ID=CDPLogin;Password=q84SU8V1j3519OU;Application Name=EntityFramework" Name="Data Source=TDG-VM-INTHMO\CDPTRACKERDB;Initial Catalog=CDPTrack;User ID=CDPLogin;Password=q84SU8V1j3519OU;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataSource.CDPTrackEntities, DataSource" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CDPTrackEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/CDPModel.csdl|res://*/CDPModel.ssdl|res://*/CDPModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=TDG-VM-INTHMO\CDPTRACKERDB;Initial Catalog=CDPTrack;User ID=CDPLogin;Password=q84SU8V1j3519OU;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>