<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\CDPTrackerDeploy\Testing\CDPTrackerSite.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>CDPTracker</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CDPTrackEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=TDG-WKS-313;Initial Catalog=CDPTrack;User ID=CDPLogin;Password=CDPLogin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataSource.CDPTrackEntities, DataSource" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CDPTrackConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=TDG-WKS-313;Initial Catalog=CDPTrack;User ID=CDPLogin;Password=CDPLogin;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CDPTrackConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=TDG-WKS-313;Initial Catalog=CDPTrack;User ID=CDPLogin;Password=CDPLogin;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CDPTrackConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CDPTrackEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/CDPModel.csdl|res://*/CDPModel.ssdl|res://*/CDPModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=TDG-WKS-313;Initial Catalog=CDPTrack;User ID=CDPLogin;Password=CDPLogin"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>