<style>
    .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
</style>
<div id="ValuesInfusionList" class="fancy-table fancy-todo-table">
    <div class="fancy-description">
        <div>
            <label class="subtitle">Values Infusion</label>
        </div>
        <div></div>
    </div>
    <div class="fancy-header fancy-gray">
        <div class="fancy-row form-group panel-default row-eq-height">

            <div class="form-group col-sm-3">
                Value
            </div>
            <div class="form-group col-sm-4">
                How will you infuse the monthly value?<br />
                Share your definition of Done
            </div>
            <div class="form-group col-sm-3">
                End of quater results
            </div>
            <div class="form-group col-sm-2">
                Rank
            </div>
        </div>
    </div>
    <div class="fancy-body">
        <div class="fancy-row form-group" data-core-value-id="0">

            <div class="form-group col-sm-3">
                <label class="row-label value">We are passionate about helping our customers</label>
            </div>
            <div class="form-group col-sm-4">
                <input type="text" class="form-control" required="required" maxlength="150" placeholder="How will..." />
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" required="required" maxlength="150" placeholder="End of quater results" />
            </div>
            <div class="form-group col-sm-1">
                <input type="text" class="form-control" required="required" maxlength="150" placeholder="Rank" />
            </div>
        </div>
        <div class="fancy-row form-group" data-core-value-id="0">
            <div class="form-group col-sm-3">
                <label class="row-label value">We make and keep promises</label>
            </div>
            <div class="form-group col-sm-4">
                <input type="text" class="form-control" required="required" maxlength="150" placeholder="How will..." />
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" required="required" maxlength="150" placeholder="End of quater results" />
            </div>
            <div class="form-group col-sm-1">
                <input type="text" class="form-control" required="required" maxlength="150" placeholder="Rank" />
            </div>
        </div>
        <div class="fancy-row form-group" data-core-value-id="0">
            <div class="form-group col-sm-3">
                <label class="row-label value">We create repeatable success</label>
            </div>
            <div class="form-group col-sm-4">
                <input type="text" class="form-control" required="required" maxlength="150" placeholder="How will..." />
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" required="required" maxlength="150" placeholder="End of quater results" />
            </div>
            <div class="form-group col-sm-1">
                <input type="text" class="form-control" required="required" maxlength="150" placeholder="Rank" />
            </div>
        </div>
    </div>
</div>
