
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    
     <p style="text-align:center"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<span class="sr-only">Error:</span><strong>404 Error</strong> @Html.ActionLink("Back Home", "Index","GoalTracking")</p>  
</div>


