

<div class="panel panel-default" style="margin:0 2%">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Skill</th>
                <th>Definition of Success</th>
                <th style="color:red">Outcome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Skil text text text</td>
                <td>Definition of success text text</td>
                <td><input type="text" placeholder="Type outcome" class="form-control" /> </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Skil text text text</td>
                <td>Definition of success text text</td>
                <td> <input type="text" placeholder="Type outcome" class="form-control" /> </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Skil text text text</td>
                <td>Definition of success text text</td>
                <td> <input type="text" placeholder="Type outcome" class="form-control" />  </td>
            </tr>
        </tbody>
    </table>
</div>