<div class="panel panel-default" style="margin:0 2%">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Value</th>
                <th>Action</th>
                <th style="color:red">Result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Values tex text text</td>
                <td>Action text text</td>
                <td><img src="~/Content/images/verifiedManager.png" width="25" height="25" /> </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Values tex text text</td>
                <td>Action text text</td>
                <td><img src="~/Content/images/notStarted.png" width="25" height="25" /> </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Values tex text text</td>
                <td>Action text text</td>
                <td><img src="~/Content/images/verifiedManager.png" width="25" height="25" /> </td>
            </tr>
        </tbody>
    </table>
</div>