<div class="panel panel-default" style="margin:0 2%">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>KPI's Name</th>
                <th>Goal</th>
                <th style="color:red">Result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>KPI NAME</td>
                <td>kpi goal</td>
                <td><input type="text" placeholder="Type a result" class="form-control" />  </td>
            </tr>
            <tr>
                <td>2</td>
                <td>KPI NAME</td>
                <td>kpi goal</td>
                <td><input type="text" placeholder="Type a result" class="form-control" />  </td>
            </tr>
            <tr>
                <td>2</td>
                <td>KPI NAME</td>
                <td>kpi goal</td>
                <td><input type="text" placeholder="Type a result" class="form-control" />  </td>
            </tr>
        </tbody>
    </table>
</div>