@{
    ViewBag.Title = "GridEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="objectivesContainer">
    <ul class="objectivesLink">
        <li>@Html.ActionLink("Direct Report 1", "", "", new { @class = "btn btn-lg btn-success btn-block green-tiempo" })</li>
        <li>@Html.ActionLink("Directo Report 2", "", "", new { @class = "btn btn-lg btn-success btn-block green-tiempo" })</li>
        <li>@Html.ActionLink("Direct Report 3", "", "", new { @class = "btn btn-lg btn-success btn-block green-tiempo" })</li>
    </ul>
</div>

