<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CDPTrackEntities" connectionString="metadata=res://*/CDPModel.csdl|res://*/CDPModel.ssdl|res://*/CDPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TDG-MBL-GDL194;initial catalog=CDPTrack;user id=CDPLogin;password=CDPLogin;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--  metadata=res://*/CDPModel.csdl|res://*/CDPModel.ssdl|res://*/CDPModel.msl;provider=System.Data.SqlClient;provider connection string="data source=TDG-MBL-GDL181;initial catalog=CDPTrack;user id=CDPLogin;password=***********;MultipleActiveResultSets=True;App=EntityFramework" -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>