@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="pageDescription">
    <div class="description">
        <h2>Sorry, an error occurred while processing your request.</h2>
    </div>
</div>
