@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="aboutRectangle">
    <img src="@Url.Content("~/Content/images/CDPTrackerLogo.png")" />
    <h1> CDP TRACKER</h1>
    <h2> V2.5</h2>
    <p> CDP TRACKER  was developed by the internal systems department.</p>
    <p> Developers: </p>
    <ul>
        <li> Fernando Wirichaga Primero (fwirichaga@tiempodevelopment.com)</li>
        <li> Jose Miguel Ledon Nieblas (jledon@tiempodevelopment.com)</li>
        <li> Luis Francisco Castillo Leon (lcastillo@tiempodevelopment.com)</li>
        <li> Gerardo Cruz Zagasta (gcruz@tiempodevelopment.com)</li>
        <li> Jose Eduardo Vázquez Figueroa (evazquez@tiempodevelopment.com)</li>
        <li> Cesar Fernando Laredo Armenta (claredo@tiempodevelopment.com)</li>
    </ul>
    <p>If there is an inconsistency regarding your current or aspiring position, send a request to <b>helpdesk@tiempodevelopment.com</b></p>
    <p>Any issue or questions contact your manager or <b>tm@tiempodevelopment.com</b></p>
    <p>Tiempo Development® 2014</p>
</div>