@model DataSource.Area
@{
    ViewBag.Title = "Career Path and Job Descriptions";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="pageDescription">
    <div class="description">    
        <h2>@ViewBag.Title</h2>
            <div>
                <a href="https://sharepoint.tiempodevelopment.com/intranet/growth/TQT/Forms/AllItems.aspx?RootFolder=%2Fintranet%2Fgrowth%2FTQT%2FRoles%20and%20Career%20Path&FolderCTID=0x01200097C20706E698A2419220B0EA5393D445&View={C8E24E1F-25C1-4478-B232-CB5A84984B1A}" target="_blank">Career Paths and Job Descriptions</a>
            </div>
    </div>
</div>