@model List<System.Collections.IEnumerable>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    iframe[seamless] {
        background-color: transparent;
        border: 0px none transparent;
        padding: 0px;
        overflow: hidden;
    }
</style>
<script type="text/javascript">
    function updateFrame() {
        //var url =
        //$('#progressReportFrame').attr('src', url);
    }
    
</script>
<h2> Progress By Project Report</h2>
@*<table>
    <tr>
        <td>
            <label for="AreasCombo"> Area</label>
            <select id="AreasCombo">
            @foreach (var area in Model.FirstOrDefault())
            {
                <option value=@area>@area</option>
            }
            </select>
        </td>
        <td>
            <input type="button" id="SearchByAreaButton" value="Search By Area" onclick="updateFrame()">
        </td>
        <td>
            <label for="ProjectCombo"> Project</label>
            <select>
            @foreach (var project in Model.LastOrDefault())
            {
                <option value=@project>@project</option>
            }
            </select>
        </td>
        <td>
            <input type="button" id="SearchByProjectButton" value="Search By Project" onclick="updateFrame()">
        </td>
    </tr>
</table>*@
<IFrame id="progressReportFrame" src="@Url.Content("~/Reporting/ProgressByProjectReport.aspx")" width="100%" height="650" seamless="seamless"></iframe>
