
@{
    ViewBag.Title = "TeamMembersInputAreadyFilled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="alert alert-success" role="alert">

    <p style="text-align:center">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        <span class="sr-only">Error:</span><strong>The Teams Members Input </strong> form aready filled for this quarter. @Html.ActionLink("Back Home", "Index", "GoalTracking")
    </p>
</div>